# Dependencies
**/node_modules/**

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# SvelteKit / build outputs
**/.svelte-kit/**
**/build/**
**/.output/**
**/dist/**
**/dist-ssr/**

# Miscellaneous
**/static/**
coverage
*.log
*.tsbuildinfo


